<div class="kt-header fixed top-0 z-10 start-0 end-0 flex items-stretch shrink-0 bg-background" data-kt-sticky="true"
	data-kt-sticky-class="border-b border-border" data-kt-sticky-name="header" id="header">
	<!-- begin: container -->
	<div class="kt-container-fixed flex justify-between items-stretch lg:gap-4" id="headerContainer">
		<!-- Mobile Logo -->
		<div class="flex gap-2.5 lg:hidden items-center -ms-1">
			<a class="shrink-0" href="#">
				<img class="max-h-[25px] w-full" src="assets/media/app/mini-logo.svg" />
			</a>
			<div class="flex items-center">
				<button class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-drawer-toggle="#sidebar">
					<i class="ki-filled ki-menu">
					</i>
				</button>
				<button class="kt-btn kt-btn-icon kt-btn-ghost" data-kt-drawer-toggle="#mega_menu_wrapper">
					<i class="ki-filled ki-burger-menu-2">
					</i>
				</button>
			</div>
		</div>
		<!-- End of Mobile Logo -->
		<div app-mega-menu id="megaMenuContainer" class="flex items-stretch"></div>
		<!-- Topbar -->
		<div class="flex items-center gap-2.5">
			<button
				class="group kt-btn kt-btn-ghost kt-btn-icon size-9 rounded-full hover:bg-primary/10 hover:[&_i]:text-primary"
				data-kt-modal-toggle="#search_modal">
				<i class="ki-filled ki-magnifier text-lg group-hover:text-primary">
				</i>
			</button>
			<div app-notification-drawer></div>
			<div app-topbar-chat></div>
			<div app-topbar-apps></div>
			<div app-topbar-user-dropdown class="shrink-0" data-kt-dropdown="true" data-kt-dropdown-offset="10px, 10px"
				data-kt-dropdown-offset-rtl="-20px, 10px" data-kt-dropdown-placement="bottom-end"
				data-kt-dropdown-placement-rtl="bottom-start" data-kt-dropdown-trigger="click"></div>
		</div>
	</div>
</div>